
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--PaleBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    background-color: white;
    width: 50%;
    height: 74vh;
    max-height: 500px;
}

.your-result {
    background: linear-gradient(0deg, hsl(241, 81%, 54%)0%, hsl(252, 100%, 67%)90%);
    border-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#result {
    padding: 2rem;
    font-size: 1.6rem;
    color: var(--LightLavender);
    font-weight: bold;
}

.average-container {
    background: radial-gradient(circle, hsl(241, 81%, 54%) 0%, rgba(0,0,0,0) 90%);
    color: white;
    display: flex;
    height: 160px;
    width: 160px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 50%;
    font-size: 4rem;
    font-weight: bold;  
}

.average-container span {
    font-size: 1rem;
    font-weight: normal;
    color: var(--LightLavender);
}

.praise {
    color: white;
    font-size: 2rem;
    padding: 1.4rem;
}

footer {
    color: var(--LightLavender);
    display: flex;
    width: 70%;
    text-align: center;
    justify-content: center;
}


/* Summary Customization */ 

.your-summmary {
    width: 50%;
    padding: 2rem;
    
}

#summary {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--DarkGrayBlue);
    margin-bottom: 20px;
}
.details-container {
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.details-container span {
    margin-left: 10px;
}

.reaction, .memory, .verbal, .visual {
    padding: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reaction-img, .memory-img, .verbal-img, .visual-img {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight:bold;
    padding: 5px;
    width: 50%;
}

.reaction {
    background-color: var(--LightRed);
}

.reaction-img {
    color: var(--DarkLightRed);
}

.memory {
    background-color: var(--OrangeyYellow);
}

.memory-img {
    color: var(--DarkOrangeyYellow);
}

.verbal {
    background-color: var(--GreenTeal);
}

.verbal-img{
    color: var(--DarkGreenTeal);
}

.visual {
    background-color: var(--CobaltBlue);
}

.visual-img {
    color: var(--DarkCobaltBlue);
}


button {
    background-color: var(--DarkGrayBlue);
    color: var(--PaleBlue);
    font-weight: bold;
    font-size: 1.1rem;
    padding: 1rem;
    border-radius: 40px;
    border: none;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
}

button:hover {
    cursor:pointer;
    background-color: var(--OnClickDarkGrayBlue);
}
