* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--PaleBlue);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}


.container {
    border-radius: 20px 0 0 20px;
    width: 50%;
    display: flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}

.your-result {
    background: linear-gradient(to top, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    padding: 40px;
    width: 50%;
    border-radius: 20px;
}

.summary {
    background-color: white;
    padding: 20px;
    width: 50%;
    border-radius: 20px;
}

.reaction {
    background-color: var(--LightRed);
}

.memory {
    background-color: var(--OrangeyYellow);
}

.verbal {
    background-color: var(--GreenTeal);
}

.visual {
    background-color: var(--CobaltBlue);
}