* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--LightPink);
    max-width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
}


.container {
    background-color: white;
    max-width: 50%;
    padding: 30px;
    position: absolute;
}

.title{
    display: flex;
}