* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--LightPink);
    max-width: 1440px;
    height: auto;
}

.container {
    background-color: white;
}

.title{
    display: flex;
}